datadog:
  # Datadog API Key
  # apiKey: <YOUR_DATADOG_API_KEY> 
  
  # Site: datadoghq.eu or datadoghq.com
  site: datadoghq.eu

  apm:
    portEnabled: true
    socketEnabled: false
    hostSocketPath: null

  logs:
    enabled: true
    containerCollectAll: true

  processAgent:
    enabled: true

clusterAgent:
  enabled: true
  replicas: 2
  admissionController:
    enabled: true
    mutateUnlabelled: true

agents:
  enabled: true
  useHostNetwork: true # Required for Node IP communication
