apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: default
data:
  init-datadog-user.sql: |
    CREATE USER datadog WITH PASSWORD 'datadogpassword';
    GRANT pg_monitor TO datadog;
    CREATE EXTENSION IF NOT EXISTS pg_stat_statements;
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  labels:
    app: postgres-db
    tags.datadoghq.com/env: "sandbox"
    tags.datadoghq.com/service: "my-postgres"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
        tags.datadoghq.com/env: "sandbox"
        tags.datadoghq.com/service: "my-postgres"
      annotations:
        ad.datadoghq.com/postgres-db.check_names: '["postgres"]'
        ad.datadoghq.com/postgres-db.init_configs: '[{}]'
        # Note: In a real production environment, use Datadog Secret Backend 
        # or Autodiscovery Templates to hide the password here too.
        # For this demo, we secured the main DB password below.
        ad.datadoghq.com/postgres-db.instances: |
          [
            {
              "host": "%%host%%",
              "port": 5432,
              "username": "datadog", 
              "password": "datadogpassword",
              "dbname": "postgres",
              "ssl": "disable"
            }
          ]
    spec:
      containers:
      - name: postgres-db
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "postgres"
        # SECURE CONFIGURATION: Reading DB Password from Secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: postgres-password
        volumeMounts:
        - name: postgres-init
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: postgres-init
        configMap:
          name: postgres-init-script
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
spec:
  selector:
    app: postgres-db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
